# macOS finder file
.DS_Store

# Rproj/renv stuff
renv/*
.Renviron
.RProj.user/*
.Rproj.user
.Rhistory
sandbox.R

*.RData
*.RDataTmp
# logr logs
*.log
*.msg
# Results
results/*.csv
results/*.Rda
# Spatial/GIS formats.
*.qmd
*.qgz
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.geojson
*.gpkg
*.gdb
*.gpkg-wal
*.gpkg-shm
*.rds

data/*

venv/*

!data/muni_ids.csv
!data/luc_cw.csv
!data/README.csv
!data/unit_cw.csv
!data/col_cw.csv