# Corporate database copy.
CSC*.txt
# macOS finder file
.DS_Store
# Rproj/renv stuff
renv/*
.Renviron
.RProj.user/*
.Rproj.user
*.RData
# logr logs
*.log
*.msg
# Results
results/*.csv
# Spatial/GIS formats.
*.qmd
*.qgz
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.geojson
*.gpkg
*.gdb
